body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    color: #004d40; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container {
    position: relative;
    left: 20px;
}
#reiniciar {
    font-size: 20px;
    color: #004d40;
    position:absolute;
    right: 50px;
    top: 330px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.container {
    text-align: center;
    background-color: #518fed; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.2);
}
h1 {
    margin-bottom: 20px;
}
.choices {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}
.choice {
    color: aliceblue;
    padding: 10px 20px;
    background-color: #2533b7;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
}
.choice:hover {
    background-color: #4dd0e1; 
    color: #004d40; 

}
.result {
    font-size: 1.2em;
    margin-top: 20px;
}